.round-heading {
    font-weight: bolder;
    font-size: 1.2rem;
}

.whatsapplink .active{
  background-color: rgb(147, 226, 147);
  transition: all 0.3s ease-in;
}

.pixelate{
  box-shadow: 2px 2px 2px #dfdfdf;
}