button {
  background: none !important;
  border: white 2px solid !important;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: red !important;
  transform: scale(1.05);
}

.whatsapplink .active{
  background-color: rgb(147, 226, 147);
  transition: all 0.3s ease-in;
}

.pixelate{
  box-shadow: 2px 2px 2px #dfdfdf;
}

@media screen and (min-width: 1280px){
  .popup {
    left: 50%;
    display: flex;
    flex-direction: row-reverse;
    background-color: #fe8348;
    justify-content: space-between;
    width: 60%;
    height: 60%;
    padding: 0 !important;
    max-height: 100% !important;
  }


  
  .popup-content {
    width: 35rem;
    margin-right: 0;
  }
  
  .popup-left {
    flex-direction: column !important;
    margin: 0;
  }

  .popup-left > div {
    margin-bottom: 2rem;
    padding-left: 0;
  }

  .popup-right{
    width: 80%;
    height: 100%;
  }

  .popup-right > div {
    margin: 0;
    height: 100%;
    width: 100%;
    max-height: none;
  }

  .popup-logo {
    width: 70%;
  }
  


  
}


