.hover-card {
    transition: opacity 0.3s ease-in-out;
  }
  
  .hover-card:hover {
    filter: blur(8px);
  }
  
  .hover-card:hover + .card {
    opacity: 1;
  }
  
  .card {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .flip-card {
    transform: rotateY(-90deg);
    transition: transform 1s ease-in-out;
  }
  
  .flip-card:hover {
    transform: rotateY(0deg);
  }